@model Employee_Portal_System_1.Models.EmployeeViewModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="container" style="width:50%;margin-top:40px;">

    <div class="page-header">
        <div class="alert alert-info"><h4 style="text-align:center;">Employees Portal System</h4></div>
    </div>

<!-- Trigger the modal with a button -->
    <div class="container" style="width:30%;">
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#create"><span class="glyphicon glyphicon-plus"></span> Add</button>
    <button id="hiddenRecord" type="button" class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-trash"></span> Hiding Reords</button>
    <button id="displarRecord" type="button" class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-pencil"></span> Display</button>
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#display"><span class="glyphicon glyphicon-th"></span> Display in Model</button>
    </div>

<!-- Create Modal -->
<div id="create" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal Content Create-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>

            <div class="modal-body">
                <form id="myForm">

                    @Html.DropDownListFor(m => m.EmployeeId, ViewBag.DepartmentList as SelectList, "--Select--", new { @class="form-control"})

                    @Html.TextBoxFor(m => m.Name, new { @class="form-control", placeholder = "Name"})

                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Adress" })

                    @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control", placeholder = "SiteName" })

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="reset" class="btn btn-success" value="submit" id="btnSubmit" />
            </div>
        </div>
    </div>
</div>
</div>


<!-- Display Modal -->
<div id="display" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal Content Display-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>

            <div class="modal-body" id="DisplayEmployee">
                <div class="container" style="width:60%;">
                    <table class="table table-responsive">
                        <tr>
                            <td>Name</td>
                            <td>Address</td>
                            <td>Department</td>
                            <td></td>
                        </tr>
                        <tbody>
                            @if (ViewBag.EmployeeList != null)
            {
                foreach (var item in ViewBag.EmployeeList)
                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td>@item.DepartmentName</td>
                                        <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Display Employees in pages -->

<div id="employeeRecord" class="container" style="margin-top:50px;width:55%;display:none">
    <table class="table table-responsive">
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Department</td>
            <td></td>
        </tr>
        <tbody>
            @if (ViewBag.EmployeeList != null)
            {
                foreach (var item in ViewBag.EmployeeList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.DepartmentName</td>
                        <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            var data = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Employee/Index",
                data: data,
                success: function (response) {
                    alert("You Done.");
                }
            });

        });

    });

    $(document).ready(function () {

        $("#ShowDelete").click(function () {

            $.ajax({
                type: "POST",
                url: "/DeleteEmployee/DisplayEmployees",
                success: function (response) {
                    $("#DisplayEmployee").html(response)
                }
            });
        });

    });
    
    $(document).ready(function () {
        $("#displarRecord").click(function () {
            $("#employeeRecord").css('display', 'block');
        })
    });

    $(document).ready(function () {
        $("#hiddenRecord").click(function () {
            $("#employeeRecord").css('display', 'none');
        })
    });

</script>